$break-medium: 1000px;

.godkjenn-container {
  width: 96%;
  margin: 30px auto;
  background-color: #078893;
  border-radius: 4px;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;

  @media screen and (max-width: $break-medium) {
    width: 90%;
  }

  .godkjenn-title {
    color: white;
  }

  .input-container {
    width: 90%;

    form {
      display: flex;
      flex-direction: column;

      .input-grp {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
          display: block;
          width: 300px;
          margin: 5px auto 20px;
          text-align: center;
          border-radius: 5px;
          padding: 6px;
          font-size: 1rem;
          font-family: 'Ubuntu', sans-serif;
          outline: none;
        }
      }
    }
  }
  .projects-container {
    width: 90%;

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
      color: orange;
    }
  }

  .chosenLPM-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    h3 {
      color: white;
      margin-top: 20px;
    }

    .lpm {
      text-transform: capitalize;
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 5px;
      width: 85%;
      padding: 7px;
      margin-top: 10px;
      cursor: pointer;
      text-align: start;
      color: white;
    }
  }

  .addLpm-container {
    margin-top: 20px;
  }

  .edit-header-container {
    margin-top: 20px;

    .edit-header {
      cursor: pointer;
      color: #282827;
    }
  }

  h3 {
    color: white;
    font-weight: 500;
  }
}
